.header {
  position: sticky;
  margin: 0 auto;
  width: 100%;
  height: 60px;
  // background-color: transparent;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  z-index: 999;
  .module {
    margin: 0 auto;
    max-width: 1440px;
    position: relative;
    .logo {
      cursor: pointer;
      width: 60px;
      padding: 0;
      height: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .nav {
      position: relative;
      top: 0px;
    }
  }
}
.active {
  background-color: black;
  position: fixed;
  transition: 1.2s;
}
