.doctorInformation {
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .image {
    display: flex;
    object-fit: cover;
    width: 100%;
    height: 190px;
    overflow: hidden;
    img {
      width: 100%;
      object-fit: cover;
      transition: all 0.5s ease-out 0s;
    }
  }
  .introduce {
    display: unset;
    width: 100%;
    padding: 13.125px;
    text-align: left;
  }
  Button {
    transition: all 0.5s ease-out 0s;
    background-color: rgba(14, 99, 216, 0.9);
    color: white;
    transform: translateY(-5px);
  }
  &:hover {
    .image {
      img {
        transform: scale(1.1);
      }
    }
  }
}
