.MainFooter {
  background: #24262b;
  .inforFooter {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    color: #fff;
    padding-bottom: 20px;
    .AboutUS {
      p {
        font-size: 1.5rem;
        font-weight: 600;
      }
      span {
        font-size: 14px;
        cursor: pointer;
        &:hover {
          color: rgba(255, 0, 45, 1);
        }
      }
    }
    .Search {
      p {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }
  .copy {
    font-size: 14px;
    width: 100%;
    text-align: center;
    background: #000;
    color: #fff;
    padding: 10px 0;
  }
}
